* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:60px;
    text-align: center;
}

.header {
    width:100%;
    position:absolute;
    top:0px;
}

header {
    left: 0px;
    width:960px;
    margin:0px auto;
}

ul{
    list-style:none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

ul li:hover{
    background-color:#beecea;
}

ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}

p{
    padding-top:15px;
    font-size:12px;
}

textarea {
    font-size: 14px;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    resize: none;
    min-height: 600px;
    height: 100%;
}

.example {
    text-align: left;
    position:relative;
    margin: 0 auto;
}

.resume {
    text-align: left;
    position:relative;
    margin: 0 auto;
    left: 20px;
    top: 0px;
    height: 600px;
    border-radius: 2px;
}

.star-icon {
    background: url(../images/star.png) no-repeat;
    background-size: 410% 100%;
    -webkit-background-size: 410% 100%;
}

.icon-star {
    display: inline-block;
    width: 96px;
    height: 18px;
}

.star-1 {
    background-position: -76px 0px;
}

.star-1-5 {
    background-position: -260px 0px;
}

.star-2 {
    background-position: -57px 0px;
}

.star-2-5 {
    background-position: -241px 0px;
}


.star-3 {
    background-position: -38px 0px;
}

.star-3-5 {
    background-position: -222px 0px;
}

.star-4 {
    background-position: -19px 0px;
}

.star-4-5 {
    background-position: -203px 0px;
}

.star-5 {
    background-position: 0px 0px;
}